.weather-info {
	width: 40%;

	h1{
		font-size: 250%;
		font-weight: bold;
	}
	
	div.vcenter{
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	p#temp-c{
		font-size: 750%;
		font-weight: 300;
	}
	
	p#temp-f{
		font-size: 200%;
		font-weight: 300;
	}
	
	div#image{
		padding-left: 50px;
	}
	
	p.infoNumbers{
		font-size: 20px;
		margin-left:0;
		margin-right:auto;
	} 
	
	p img{
		margin-right: 15px;
	}
	
	sup{
		font-size: 50%;
	}
} 