.quick-card{
	align-items: center;
	background-color: white;
	border-color: grey;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-width: 1px;
	display: flex;
	height: auto;
	justify-content: center;
	margin-left: 2%;
	margin-right: 2%;

	img{
		width: 15px;
		margin-right: 5px;
	}
}