
#error{

    display: flex;
    
    .center{

        align-items: center;
        display: flex;
        justify-content: flex-end;

        img{
            height: 75%; 
            object-fit: contain;
            width: auto; 
        }

        p{
            font-size: 250%;
            text-align: center;
        }
    }
}